{# templates/mars/display-request.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Images de Mars</h1>
    
    {% if imageUrl is not empty %}
        <div class="image-gallery">
                <img src="{{ imageUrl }}" alt="Image de Mars">
        </div>
    {% else %}
        <p>Aucune image n'a été trouvée.</p>
    {% endif %}
{% endblock %}