{# templates/search/index.html.twig #}

{% extends 'base.html.twig' %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Images de Mars</h1>
    
   <div class="image-gallery">
            <img src="" alt="Image de Mars" id='image'> 
    </div>
    
    <label for="data">Données à envoyer :</label>
    <input type="input" id="data" name="data">
    <button type="submit">Envoyer</button>
{% endblock %}
